 * {
 	box-sizing: border-box;
 }

body {
	background-color: white;
}

/* Header */
h1 {
	text-align: center;
	color: #3c3c3c;
	font-size: 28px;
	font-family: Montserrat;
	margin-bottom: 15px;
}

section {
	position: relative;
	padding: 15px;
}

p {
	color: black;
	background-color: #c9c9c9;
	font-family: Lato;
	font-size: 16px;
	text-align: justify;
	position: relative;
	clear: right;
	}

div {
	background-color: #c9c9c9;
	border: 3px solid black;
	width: 100%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
}

/* Chicken Card */
.card1 {
	background-color: #D59897;
	color: black;
	font-size: 125%;
	font-weight: bold;
	text-align: center;
	float: right;
	width: 150px;
	padding: 5px;
	margin: -3px -3px 0px;
	border: 3px solid black;

}

/* Beef Card */
.card2 {
	background-color: #C14543;
	color: white;
	font-size: 125%;
	font-weight: bold;
	text-align: center;
	float: right;
	width: 150px;
	padding: 5px;
	margin: -3px -3px 0px;
	border: 3px solid black;

    }

/* Sushi Card */
.card3 {
	background-color: #E5D198;
	color: black;
	font-size: 125%;
	font-weight: bold;
	text-align: center;
	float: right;
	width: 150px;
	padding: 5px;
	margin: -3px -3px 0px;
	border: 3px solid black;
}

/* Dummy Text */
.content {
	height: 150px;
	padding: 15px;
	margin: 3px;
	border: none;
	overflow: auto;
}

/* Desktop Viewport */
@media (min-width: 992px) {
	.column-lg-4 {
		float: left;
		width: 33.33%;
	}
}

/* Tablet Viewport */
@media (min-width: 768px) and (max-width: 991px) {
	.colmn-md-6 {
		float: left;
		width: 50%;
		margin-left: auto;
		margin-right: auto;
	}

	.colmn-md-12 {
		float: left;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
}

/* Mobile Viewport */
@media (max-width: 767px) {
	.colmn-sm-12 {
		float: left;
		width: 100%;
	}
}
